<?xml version="1.0" encoding="UTF-8"?>
<config>
  <relative_table>
    <column>
      <source>SW</source>
      <target>1</target>
    </column>
    <column>
      <source>WS,DS</source>
      <target>2</target>
    </column>
  </relative_table>
  <offset name="Y">0.821001</offset>
  <offset name="X">0.121001</offset>
  <offset name="DefaultOffsetY">1000</offset>
</config>