<?xml version="1.0" encoding="UTF-8"?>
<config>
  <relative_setting>
    <column>
      <source>SW</source>
      <target>1</target>
    </column>
    <column>
      <source>WS,DS</source>
      <target>2</target>
    </column>
    <column>
      <source>dss</source>
      <target>3</target>
    </column>
  </relative_setting>
  <network name="SourceIP">192.168.1.121</network>
  <network name="SourcePort">100</network>
  <network name="DestIP">192.168.1.121</network>
  <network name="DestPort">101</network>
  <offset name="Y">0.1</offset>
  <offset name="X">0.2</offset>
  <offset name="DefaultOffsetY">1000</offset>
  <rate>1</rate>
</config>